<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listado de personas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Css de Datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

    <!-- css de Iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body>

    <div class="container mt-5">
        <div class="alert alert-info display-3 text-center">
            Listado de mascotas
        </div>

        {% if pacientes %}

        <table class="table" id="miTabla">

            <thead>
                <tr>
                    
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Microchip</th>
                    <th>Fecha de atencion</th>
                    <th>Motivo</th>
                    <th>Diagnostico</th>
                    <th>Tratamiento</th>
                    <th>Observaciones</th>
                    <th>Valor</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for Paciente in pacientes %}
                <tr>
                    <td>{{Paciente.id}}</td>
                    <td>{{Paciente.nombre}}</td>
                    <td>{{Paciente.microchip}}</td>
                    <td>{{Paciente.fecha_atencion}}</td>
                    <td>{{Paciente.motivo}}</td>
                    <td>{{Paciente.diagostico}}</td>
                    <td>{{Paciente.tratamiento.nombreTratamiento}}</td>
                    <td>{{Paciente.observaciones}}</td>
                    <td>{{Paciente.valor}}</td>
                    <td>
                        <a href="/editarPaciente/{{Paciente.id}}" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a>
                        <a href="/eliminarPaciente/{{Paciente.id}}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% else %}
        <h1>No existen pacientes en la DB</h1>
        {% endif %}

        <a href="{% url 'crear_mascota' %}" class="btn btn-primary my-5">Agregar Mascota</a>


    </div>

<br class="my-5">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <!-- JS de JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    <!-- js de datatable -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    <!-- Script para cargar datatable -->
    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>


</body>

</html>